<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /mi-data-app/
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  RewriteRule . /mi-data-app/index.html [L]
</IfModule>